* {
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
}

form button {
	width: 5rem;
	margin-left: auto;
}

.img-scaledown {
	width: 100%;
	height: auto;
	object-fit: scale-down;
}

.img-halfed {
	width: 45%;
	height: auto;
	object-fit: scale-down;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.active, a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

header nav span {
	display: none;
}

.color1 {
	color: rgb(255,255,0);
}

.color2 {
	color: rgb(255,0,255);
}

.color3 {
	color: rgb(0,255,255);
}

header h1 {
	background-color: black;
	color: white;
	padding: .5rem 1.25rem;
}
