---
layout: _post
#pagination:
#  data: work
#  size: 11
---
<img src="/__static/images/{{ title }}-half.jpg" alt="{{ title }}" class='img-scaledown'>
<h2>{{ title }}</h2>
{%- if description %}
{%- for each in description %}
	<p>{{ each }}</p>
{%- endfor %}
{%- endif %}
