<header>
	<h1>{{pkg.name}}</h1>
	<nav>
	{%- for link, index in nav.json %}
		<a{# if link == page.url #} class="active"{# endif #} href="{{ link }}">{{ index }}</a>
	{%- endfor %}
	</nav>
	<div>
		<a href="//instagram.com/annebrab">instagram</a>
		<span>© 2017 by Anna Brabant</span>
	</div>
</header>
