<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{%if page.fileSlug%}{{page.fileSlug}} | {%endif%}Anna Brabant</title>
<link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
<link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />
<link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="m-2 sm:mt-4 sm:mx-auto sm:w-11/12 md:w-5/6 lg:4/5">
{%- include "header.njk" %}
<main>
{{ content | safe }}
</main>
<script></script>
</body>
</html>
