<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ pkg.name }}</title>
<link rel="stylesheet" href="/css/tailwind.css">
<style>
	p {
		margin-bottom: 1rem;
	}
</style>
</head>
<body class="w-4/5 m-auto">
{%- include "header.njk" %}
<main>
{{ content | safe }}
</main>
<script></script>
</body>
</html>
