---
layout: _base
---
<div class="grid grid-cols-2 gap-16">
	<img src="https://res.cloudinary.com/wommy/image/upload/h_960/{{image}}" alt="{{title}}">
	<div>
		<h3>{{title}}</h3>
		<p>{{description}}</p>
	</div>
</div>