<form action="">
	<label>
		<span>Name</span>
		<input type="text" placeholder="* Name">
	</label>
	<label>
		<span>Email</span>
		<input type="email" placeholder="* Email">
	</label>
	<label>
		<span>Subject</span>
		<input type="text" placeholder="Subject">
	</label>
	<label>
		<span>Message</span>
		<textarea placeholder="Message"></textarea>
	</label>
	<input type="submit" value="Send">
</form>