<form name="contact" method="post" netlify>
	<label>
		<span>Name</span>
		<input type="text" name="name" placeholder="* Name">
	</label>
	<label>
		<span>Email</span>
		<input type="email" name="email" placeholder="* Email">
	</label>
	<label>
		<span>Subject</span>
		<input type="text" name="subject" placeholder="Subject">
	</label>
	<label>
		<span>Message</span>
		<textarea name="message" placeholder="Message"></textarea>
	</label>
	<input type="submit" value="Send">
</form>