<header class="mb-4 flex flex-col sm:flex-row items-center sm:justify-evenly lg:justify-around max-w-screen-lg lg:mx-auto">
	<h1 class="my-0 w-64 mr-auto sm:mx-auto">
		<span>A</span>NNAB<span>R</span>ABAN<span>T</span>
	</h1>
	<nav class="flex w-full sm:w-3/5 justify-around max-w-md ml-auto md:mx-auto">
		{%- for group in [{ "work": "/", "archive": "/archive/"},{ "cv": "/cv/", "press": "/press/", "contact": "/contact/"},{ "instagram": "//instagram.com/annebrab" }] %}
		<div class="flex justify-evenly">
			{%- for key, url in group %}
			<a {% if url == page.url %}class="active"{% else %}href="{{ url }}"{% endif %}>{{ key }}</a>
			{%- endfor %}
		</div>
		{%- endfor %}
	</nav>
</header>
