<header>
	<nav>
	{%- for pages in collections.all %}
		<a{% if pages.url == page.url %} class="active"{% endif %} href="{{ pages.url }}">{{ pages.data.title | default: pkg.name }}</a>
	{%- endfor %}
	</nav>
</header>
