header
	h1 anna brabant
	nav
		a(href="/") work
		a(href="/archive") archive
		a(href="/cv") CV
		a(href="/press") press
		a(href="/contact") contact
	div
		a(href="//instagram.com/annebrab") instagram
		span.
			 © 2017 by Anna Brabant
