---
layout: _base
---
<div>
	<h3>monoprints</h3>
	<div class="gap-4 | grid | grid-cols-2 sm:grid-cols-4 md:gap-8">
		{%- for ea in monoprint %}
		<div class="my-auto">
			<a href="https://res.cloudinary.com/annabrabant/image/upload/{{ea.imgurl}}">
				<img src="https://res.cloudinary.com/annabrabant/image/upload/w_480/{{ea.imgurl}}" alt="{{ea.title}}">
			</a>
		</div>
		{%- endfor %}
	</div>
</div>
<div>
	<h3>undergrad</h3>
	<div class="gap-4 | grid | grid-cols-2 sm:grid-cols-4 md:gap-8">
		{%- for ea in undergrad %}
		<div class="my-auto">
			<a href="https://res.cloudinary.com/annabrabant/image/upload/{{ea.imgurl}}">
				<img src="https://res.cloudinary.com/annabrabant/image/upload/w_480/{{ea.imgurl}}" alt="{{ea.title}}">
			</a>
		</div>
		{%- endfor %}
	</div>
</div>
