---
layout: _base
---
<div class="grid grid-cols-3 gap-16">
	{%- for each in work.order %}
	<div class="my-auto{%- if each.landscape %} col-span-2{%- endif %}">
		<a href="/work/{{each.title | slug}}">
			<img src="https://res.cloudinary.com/wommy/image/upload/w_960{{each.image}}" alt="{{each.title}}">
		</a>
	</div>
	{%- endfor %}
</div>
