---
layout: _base
---
<div class="grid grid-cols-3 gap-16">
	{%- for work in collections.work | reverse %}
	<div class="my-auto{%- if work.data.landscape %} col-span-2{%- endif %}">
		<a href="/work/{{work.data.title | slug}}">
			<img src="https://res.cloudinary.com/wommy/image/upload/w_960{{work.data.image}}" alt="{{work.data.title}}">
		</a>
	</div>
	{%- endfor %}
</div>
